html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Recetario
        link(rel='stylesheet', href='/output.css')
    body
        //- div.w-screen.h-full.flex.items-center.justify-center
        div(class=" top-0 z-[-2] h-screen w-screen flex justify-center flex-col items-center bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]")

            img(src="/recipe.png" alt="logo" class="h-[80px] mb-8")
            form(action="/login" class="w-full max-w-sm")
                div.mb-6
                    label(for="email" class="block text-sm font-semibold leading-6 text-gray-900") Usuario
                    input(type="email" id="email" class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" required="" value="")
                div.mb-6
                    label(for="password" class="block text-sm font-semibold leading-6 text-gray-900") Contraseña
                    input(type="password" id="password" class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" required="" value="" aria-autocomplete="list")
                button(type="submit" class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 w-full")
                    span Ingresar
                input(type="hidden" name="remember" value="true")
                p.mt-8.text-center
                    a(href="/password/reset" class="text-sm hover:underline") Olvidaste tu contraseña?