doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Agenda
        link(rel='stylesheet', href='/output.css')
    body
        div(class="flex bg-slate-400 h-[70px] w-full items-center justify-between px-[35px]" id="navbar")
            div.flex.items-center
                img(src="/recipe.png" alt="logo" class="h-[40px]")
                p Agenda
            ul.flex 
                li item 1
                li item 2
                li item 3
        div.bg-slate-100.w-full.h-screen
            

    footer
        p © 2024 Todos los derechos reservados.